body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Crimson Text', sans-serif;
    background-color: #F5F5DC;
    position: relative;
}

.responsive-container {
    max-width: 800px;
    margin: auto;
    padding-top: 30px;

}

header {
    background-color: white;
    padding: 1rem 19.5rem;
}
header h1 {
    margin: 0 0 10px 0;
    flex: 1;
}

.header-nav a{
    margin-right: 1.2rem;
}
.header-nav a:hover {
    text-decoration: underline;
}

.header-nav {
    display: flex;
    height: 20px;
    color : #2B4D89;
    font-weight: bold;
}



/*Styles pour la barre de navigation */
.navbar {

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 1rem;
    width: 100%;
    height: 60px;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;

}




.navbar-nav {
    list-style: none; /* Enlever les puces de la liste */
    display: flex;
    align-items: flex-end;
    justify-content: center; /* Centrer les éléments horizontalement */
    flex-grow: 1; /* Laisser les éléments de la barre de navigation pousser pour remplir l'espace */

}


.nav-item {
    margin-right: 1.2rem;
}

.nav-link {
    color: #2B4D89;
    font-weight: bold;
    text-decoration: none;
    align-self: flex-end;


}

.nav-link:hover {
    color: #ffffff; /* Couleur du texte lumineux au survol */
    background-color: #007bff; /* Couleur de fond lumineuse au survol */

}

.nav-user {
    margin-left: auto; /* Mettre l'élément à droite en utilisant la marge gauche automatique */
    font-weight: bold; /* Rendre le texte en gras */
}

.header-nav .nav-link {
    margin-top: 10px; /* Ajustez cette valeur selon vos besoins */
}

/* Animation clignotante */
@keyframes blink {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

.blink {
    animation: blink 60s infinite;
}

/* Styles pour le logo */
.logo img {
    height: 80px;
    width: auto;
    margin-right: auto;
}

/* Couleur de fond du contenu */
main {
    flex: 1;
    padding: 1rem 0;
    background-color: #faf3e0; /* Beige */
}


footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 65px;
    background-color:deepskyblue;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}

.forgot-password-link {
    color: white;
}

form > div > div{
    margin-top: 15px;
}

/* Alignement vertical des éléments du formulaire */
form {
    display: flex;
    flex-direction: column;
    margin-top: 70px; /* Ajoutez une marge supérieure pour éviter le chevauchement avec la barre de navigation */


}





/* Empêcher l'élargissement du bouton */
.btnAppPerso {
    align-self: flex-start;
}
h1{
    text-align: center;
    text-shadow: 1px 1px #0a66c2;
    color: #01012f;
    position: relative;
    right: 100px; /* Déplacer vers la gauche */
    margin-top: 0; /* Déplace le h1 de 20 pixels vers le bas */
    padding-top: 20px; /* Ajoute un remplissage de 20 pixels en haut du h1, ce qui le déplace vers le bas */

    transform: translateY(20px); /* Déplace le h1 de 20 pixels vers le bas */



}
.card{
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
    border: 8px solid #0a66c2;
    background-color: lightgoldenrodyellow;
}
.card:hover {
    transform: scale(1.1);
}
.table{
    opacity: 80%;
    margin-top: 20px;
}
.nomprojet{
    color: #c0c07d;
    margin-right: 5rem;
    font-size: 2rem;
    font-style: italic;
    border-bottom: 2px solid #c0c07d;
}


/* Appliquer une largeur fixe à tous les champs de saisie */
form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="number"],
form input[type="date"],
form textarea {
    border-color: black; /* Bordure par défaut */
    border-radius: 10px; /* Coins arrondis */
    border-width: 2px; /* Épaisseur de la bordure */
    padding: 8px; /* Remplissage */
    width: 100%; /* Largeur */
    margin-bottom: 10px; /* Espacement en bas */
}

/* Styles pour la bordure des champs lorsqu'ils sont en focus */
form input:focus,
form textarea:focus {
    border-color: #007bff; /* Couleur bleue lorsqu'en focus */
    border-width: 3px; /* Épaisseur de la bordure lorsqu'en focus */
    outline: none; /* Supprimer la bordure de focus par défaut */
}

/* Styles pour la bordure des champs lorsqu'ils sont actifs (cliqués) */
form input:active,
form textarea:active {
    border-color: #007bff; /* Couleur bleue lorsqu'actif (cliqué) */
    border-width: 3px; /* Épaisseur de la bordure lorsqu'actif (cliqué) */
}


.button-container {
    margin-top: 0;

}

.btnAppPerso {
    display: inline-block; /* Afficher les boutons côte à côte */
    color: white;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    background-color: #2B4D89;
    margin-top: 20px;
    margin-right: 7px;
    width: 140px;
    height: 40px; /* Augmenter la hauteur */
    position: relative;

}





/* Changer la couleur du lien "Mot de passe oublié" en noir */
.forgot-password-link {
    color: black; /* Couleur noire */
    /* Autres styles CSS pour le lien si nécessaire */
}

/* Style pour le tableau du profil */
.profile-table {
    width: 100%;
    border-collapse: collapse;
    transform: translateY(30px); /* Déplace le h1 de 30 pixels vers le bas */
}

.profile-table th, .profile-table td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd; /* Ajoute une bordure à gauche */
}

/* Ajoute une bordure à droite à toutes les cellules sauf à la dernière */
.profile-table th:not(:last-child), .profile-table td:not(:last-child) {
    border-right: 1px solid #ddd; /* Ajoute une bordure à droite */
}

/* Style pour les lignes de couleur de fond alternée */
.profile-table tr:nth-child(even) {
    background-color: #f9f9f9; /* Couleur de fond pour les lignes paires */
}

.profile-table tr:nth-child(odd) {
    background-color: #fff; /* Couleur de fond pour les lignes impaires */
}

/* Style pour la ligne de séparation */
.profile-table tr {
    border-bottom: 1px solid #ddd; /* Ajoute une bordure en bas de chaque ligne */
}

.vehicle-table tr:nth-child(even) {
    background-color: #f9f9f9; /* Couleur de fond pour les lignes paires */
}

.vehicle-table tr:nth-child(odd) {
    background-color: #fff; /* Couleur de fond pour les lignes impaires */
}

/* Style pour la ligne de séparation */
.vehicle-table tr {
    border-bottom: 1px solid #ddd; /* Ajoute une bordure en bas de chaque ligne */
}

.vehicle-table {
    width: 100%; /* Largeur totale du tableau */
    transform: translateY(50px);
}

.vehicle-table th {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    width: auto; /* Largeur automatique pour chaque cellule */


}
.vehicle-table td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    width: auto; /* Largeur automatique pour chaque cellule */

}

h2 {
    margin-bottom: 0; /* Ajoute un espace en bas du titre */

}

.table-container {
    margin-bottom: 20px; /* Ajoute un espace en bas du tableau */

}

/* Ajouter une marge en haut du tableau */
.table-container + h2 {
    margin-top: 70px; /* Ajoute un espace au-dessus du titre */
}
.remember {
    display:flex;
}
.remember input {
    margin: 2px 0 12px 0;
    width: 50px;
}



