{% extends 'base.html.twig' %}

{% block title %}New Vehicle{% endblock %}

{% block body %}
    <h1>Créer un nouveau véhicule</h1>

    {{ include('vehicle/_form.html.twig') }}

    <a href="{{ path('app_vehicle_index') }}"><button class="btnAppPerso">Retour à la liste</button></a>
{% endblock %}
