{% extends 'base.html.twig' %}

{% block title %}New Trips{% endblock %}

{% block body %}



    <h1>Créer un nouveau trajet</h1>

    {{ include('trips/_form.html.twig') }}

   



{% endblock %}


