{% extends 'base.html.twig' %}

{% block title %}New Trips{% endblock %}

{% block body %}



    <h1>Créer un nouveau trajet</h1>

    {{ include('trips/_form.html.twig') }}

    <a href="{{ path('app_trips_index') }}"><button class="btnAppPerso">Retour à la liste</button></a>



{% endblock %}


