{% extends 'base.html.twig' %}
{% block title %}form User{% endblock %}
{% block body %}
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btnAppPerso">Enregistrer</button>
{{ form_end(form) }}
{% endblock %}